@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300;8..144,400;8..144,700;8..144,900&display=swap");

:root {
  --color1: #150e28;
  --color2: #903aff;
  --color3: #d434fe;
  --secondary-color: #ffffff;
  --primary-color: linear-gradient(90deg, var(--color2), var(--color3));
  /* --primary-color: linear-gradient(90deg, #903aff, #d434fe); */
  --font-size: 16px;
}

body {
  background-color: var(--color1);
  color: var(--secondary-color);
  margin: 0;
  font-family: "Roboto Flex", sans-serif;
}

/* Style for Sections */
.sections {
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
  align-items: center;
}

@media (max-width: 740px) {
  .sections {
    flex-direction: column;
  }
}

/* Style for Section Heading (h2) */
h2,
section h2 {
  font-size: 28px;
  font-weight: 600;
  margin: 10px 0;
}

h3,
.timeline-subheadings,
.timeline-numbers {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

/* Style for Section Heading (h2) */
.section-heading {
  color: var(--color3);
}

.section-contents {
  flex: 1;
  padding: 40px;
}

.section-contents.imgs {
  margin-left: 50px;
}

.section-info {
  /* justify-content: center; */
}

@media (max-width: 740px) {
  .section-contents {
    padding: 20px;
  }
  .section-info {
    text-align: center;
  }
}

#introduction .satagra {
  position: absolute;
  left: 50px;
  top: 400px;
}

#introduction .starpu {
  position: absolute;
  left: 1271px;
  top: 420px;
}

#timeline .section-info {
  /* display: flex;
  flex-direction: column; */
  width: 100%;
}

/* 
}


#timeline h3,
.timeline-subheadings {
  color: #d434fe;
} */

/* Reset some default styles */

.ul .timeline-items,
.timeline {
  width: 100%;
}
.timeline-item {
  padding-bottom: 40px;
  overflow: hidden;
  position: relative;
}

.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 40px;
}

.timeline-marker:before {
  background: #ff6b6b;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 40px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 40px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.timeline-marker:after {
  content: "";
  width: 3px;
  background: #ccd5db;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}

.timelines-content,
.timeline-info,
.timeline-content,
.timeline-date {
  width: 50%;
}

.timelines,
.timeline,
.timelines-content,
.timeline-info,
.timeline-divider {
  display: block;
  margin: 0;
  padding: 0;
}

#timeline .timelines:nth-child(odd) .timelines-content {
  float: left;
  text-align: right;
  padding-right: 30px;
}
#timeline .timelines:nth-child(odd) .timeline-info {
  float: right;
  text-align: left;
  padding-left: 30px;
}

#timeline .timelines:nth-child(even) .timelines-content {
  float: right;
  text-align: left;
  padding-left: 30px;
}
#timeline .timelines:nth-child(even) .timeline-info {
  float: left;
  text-align: right;
  padding-right: 30px;
}

/* .timeline-divider {
  position: absolute;
  left: 50%;
  margin-left: -7.5px;
}

.timeline-divider {
  top: 0;
  bottom: 0;
  left: 0;
  width: 40px;
} */

/* .timeline-divider:before {
  background: #ff6b6b;
  border: 3px solid transparent;
  border-radius: 100%;
  content: "";
  display: block;
  height: 40px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 40px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}

.timeline-divider:after {
  content: "";
  width: 3px;
  background: #ccd5db;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
} */
#partners_sponsors,
.footer-item {
  display: flex;
}
.footer-item {
  justify-content: space-between;
  gap: 100px;
  padding: 30px 80px;
}

#partners_sponsors {
  flex-direction: column;
}

.footer-links .head, .contacts .head {
  /* font-family: Montserrat; */
  font-size: 12px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

#partners_sponsors .section-contents,
.copywrite {
  text-align: center;
}
